<header>
  <h1 class="mat-display-1">Product planner</h1>
</header>
<div class="mat-toolbar app-toolbar">
  <a mat-fab color="primary" [routerLink]="['/']">
    <mat-icon>home</mat-icon>
  </a>
  <a mat-fab color="accent" [routerLink]="['/itemClasses']">
    <mat-icon>architecture</mat-icon>
  </a>
  <a mat-fab color="accent" [routerLink]="['/items']">
    <mat-icon>category</mat-icon>
  </a>
  <a mat-fab color="accent" [routerLink]="['/item-stock']">
    <mat-icon>functions</mat-icon>
  </a>
  <a mat-fab color="accent" [routerLink]="['/categories']">
    <mat-icon>account_tree</mat-icon>
  </a>
</div>
<router-outlet></router-outlet>
<footer>
  <p class="mat-caption">&nbsp;</p>
</footer>
<footer class="fixed">
  <p class="mat-caption">See <a href="https://github.com/maciejmalecki/inventory">https://github.com/maciejmalecki/inventory</a></p>
</footer>
