<section class="mat-typography">
  <form [formGroup]="formGroup">
    <h1>
      {{ itemClass.name }}
      <button mat-icon-button (click)="save()">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-icon-button routerLink="..">
        <mat-icon>cancel</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteDraft()">
        <mat-icon>undo</mat-icon>
      </button>
      <button mat-icon-button (click)="confirmDraft()">
        <mat-icon>redo</mat-icon>
      </button>
    </h1>
    <mat-form-field class="editor">
      <mat-label>Description</mat-label>
      <textarea matInput rows="4" placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <div cdkDropListGroup>
      <h1>attributes</h1>
      <div class="attributes">
        <h2>used</h2>
        <div
          class="attributes-list"
          cdkDropList
          [cdkDropListData]="selectedTypes"
          (cdkDropListDropped)="drop($event)"
        >
          <div *ngFor="let attr of selectedTypes" cdkDrag class="attribute-box">
            {{ attr.name }} - {{ attr.scalar }} ({{ attr.unitCode }})
          </div>
        </div>
      </div>
      <div class="attributes">
        <h2>available</h2>
        <div
          class="attributes-list"
          cdkDropList
          [cdkDropListData]="unselectedTypes"
          (cdkDropListDropped)="drop($event)">
          <div *ngFor="let attr of unselectedTypes" cdkDrag class="attribute-box">
            {{ attr.name }} - {{ attr.scalar }} ({{ attr.unitCode }})
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
