/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

header {
  font-size: large;
  text-align: center;
  padding: 10px;
  background-color: blueviolet;
  color: azure;
}

footer {
  text-align: center;
  position: fixed;
  padding: 6px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: darkblue;
  color: azure;
  a,a:visited {
    color: antiquewhite;
    text-decoration: none;
  }
}
