version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:15-jdk-buster

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle.kts" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: ./gradlew dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle.kts" }}

      # run tests!
      - run: ./gradlew build

  build-adoc:
    docker:
      - image: circleci/ruby:3.0.0
    working_directory: ~/repo
    steps:
      - checkout
      - run: bundle install
      - run: bash .circleci/build-adoc.sh
      - deploy:
          name: Deploy Release to GitHub
          command: |
            if [ $CIRCLE_BRANCH == 'master' ]; then
              bash .circleci/setup-github.sh
            fi

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build-adoc:
          filters:
            branches:
              only:
                - main
      - build:
          filters:
            branches:
              only:
                - main
                - develop
