<header>
  <h1 class="mat-display-1">Product planner</h1>
</header>
<div class="mat-toolbar app-toolbar">
  <button mat-fab color="primary" (click)="goHome()">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-fab color="accent" (click)="goItemClasses()">
    <mat-icon>books</mat-icon>
  </button>
  <button mat-fab color="accent" (click)="goItems()">
    <mat-icon>menu_book</mat-icon>
  </button>
</div>
<router-outlet></router-outlet>
<footer>
  <p class="mat-caption">See <a href="https://github.com/maciejmalecki/inventory">https://github.com/maciejmalecki/inventory</a></p>
</footer>
