<div [formGroup]="formGroup" class="item-stock-editor">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      On stock: {{ (stock$ | async).amount }}
    </mat-expansion-panel-header>
    <div>
      <mat-form-field class="editor">
        <mat-label>Change stock</mat-label>
        <input type="number" matInput formControlName="changeAmount">
      </mat-form-field>
    </div>
    <mat-action-row>
      <button mat-icon-button (click)="replenish()">
        <mat-icon>add_task</mat-icon>
      </button>
      <button mat-icon-button (click)="deduct()">
        <mat-icon>eject</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
